<div class="main-container-cart">
  <h1>AQUÍ VA A IR EL CARRO</h1>
</div>

<style>
  .main-container-cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: calc(100vh - 80px);
    background-color: aqua;
  }
</style>
