---
// src/components/Productos.astro
const products = [
  { id: 1, ruta: '', name: 'Producto 1', price: '$10' },
  { id: 2, ruta: '', name: 'Producto 2', price: '$20' },
  { id: 3, ruta: '', name: 'Producto 3', price: '$30' },
  { id: 4, ruta: '', name: 'Producto 4', price: '$40' },
  { id: 5, ruta: '', name: 'Producto 5', price: '$50' },
  { id: 6, ruta: '', name: 'Producto 6', price: '$60' },
  { id: 7, ruta: '', name: 'Producto 7', price: '$70' },
  { id: 8, ruta: '', name: 'Producto 8', price: '$80' },
  { id: 9, ruta: '', name: 'Producto 9', price: '$90' },
  { id: 10, ruta: '', name: 'Producto 10', price: '$100' },
  { id: 11, ruta: '', name: 'Producto 11', price: '$110' },
  { id: 12, ruta: '', name: 'Producto 12', price: '$120' },
  { id: 13, ruta: '', name: 'Producto 13', price: '$130' },
  { id: 14, ruta: '', name: 'Producto 14', price: '$140' },
  { id: 15, ruta: '', name: 'Producto 15', price: '$150' },
];
---

<div class="product-grid">
    
    {products.map(product => (
      <div class="product-item" >
        <h2>{product.name}</h2>
        <p>{product.price}</p>
        <button class="boton">Añadir al carrito</button>
      </div>
      
    ))}
  </div>

<style>
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1rem;
    width: 70%;
  }

  .product-item {
    font-family: "Monserrat", sans-serif;
    color: black;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: left;
  }

  .boton {

  }

  .imagen {

  }
</style>

